---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialBadge from "../components/SocialBadge.astro";
import GitHubIcon from "../../public/icons/GitHub.astro";
import LinkedInIcon from "../../public/icons/LinkedIn.astro";
import XIcon from "../../public/icons/XIcon.astro";
import MailIcon from "../../public/icons/Mail.astro";
import BriefCase from "../../public/icons/BriefCase.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
	title="PAC0D3V - Desarrollador y programador web."
	description="Contactame para crear tu aplicacion web o movil."
>
	<main>
		<SectionContainer class="py-44 pb-28">
			<img
				class="rounded-full size-12 mb-4"
				src="https://avatars.githubusercontent.com/u/145503060?v=4"
				alt="PAC0D3V S' PHOTO"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4">
				Hey! I'm PaCoDev
				<a
					class="flex justify-center items-center"
					href="https://www.linkedin.com/in/luis-soto-open-to-work"
					target="_blank"
					rel="noopener"
				>
					<Badge>Open to Work</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap text-violet-300 opacity-80">
				Front-End Developer based in CDMX, Mexico 🇲🇽. I specialize in UI
				Design, responsive web design and visual development.
			</h2>
			<nav class="flex justify-center items-center flex-row mt-10 gap-16">
				<SocialBadge href="https://github.com/Skypi0">
					<GitHubIcon class="size-6" />
					<span>GitHub</span>
				</SocialBadge>
				<SocialBadge
					href="https://www.linkedin.com/in/luis-soto-open-to-work"
				>
					<LinkedInIcon class="size-6" />
					<span>LinkedIn</span>
				</SocialBadge>
				<SocialBadge href="https://twitter.com/PAC0D3V">
					<XIcon class="size-6" />
					<span>X</span>
				</SocialBadge>
				<SocialBadge>
					<MailIcon class="size-6" />
					<span>Gmail</span>
				</SocialBadge>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience" class="pt-2">
			<div class="flex flex-row items-center gap-x-2 pb-2">
				<BriefCase class="size-7" />
				<h2 class="text-2xl font-semibold">Work Experience</h2>
			</div>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
