<a
    class={`
    w-20 h-20 
    flex flex-col justify-center items-center gap-2 mt-4 
    rounded-lg 
    transition duration-500
    hover:scale-110  
    hover:bg-indigo-900/10  
    hover:border-b-2 
    hover:border-lime-100`}
    href={Astro.props.href}
    target="_blank"
    rel="noopener"
>
    <slot /> 
</a>
